h1 {
    text-align: center;
}

h2 {
    margin-left: 2em;
}

h3 {
    color: red;
    text-align: left;
    font-size: 16pt;
    margin-left: 2em;
}

h4 {
    color: blue;
    text-align: left;
    font-size: 12pt;
    margin-left: 4em;
}

div {
    margin-left: 2em;
    text-indent: 2em;
}

p {
    margin-left: 4em;
    border: 0;
    padding-left: 2em;
    text-align: left;
    text-indent: 2em;
}

img {
    clear: both;
    display: block;
    margin-left: 12em;
}

embed {
    margin-left: 12em;
}
